version: "3.9"
services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    ports:
      - "8000:8000"
    depends_on:
      - db

  app:
    build:
      context: .
      dockerfile: Dockerfile.app
    ports:
      - "8501:8501"
    depends_on:
      - api

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: horizon
      POSTGRES_PASSWORD: horizon
      POSTGRES_DB: horizon
    ports:
      - "5432:5432"